html {
  scroll-behavior: smooth;
}

body {
  padding: 1rem;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 150ms;
}

td.no-wrap {
  white-space: nowrap;
}

#page-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.3rem 1rem;
  background-color: #000;
  color: #c2c7d0;
  text-decoration: none;
  border-radius: 0.5rem;
}
