html {
  scroll-behavior: smooth;
}

body {
  padding: 1rem;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 150ms;
}

td.no-wrap {
  white-space: nowrap;
}
td.price {
  text-align: right;
}

#page-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.3rem 1rem;
  background-color: #000;
  color: #c2c7d0;
  text-decoration: none;
  border-radius: 0.5rem;
}

#page-content {
  max-width: 1000px;
  margin: 0 auto;
}

.header-nav {
  position: sticky;
  top: 0;
  background-color: var(--pico-background-color);
  border-bottom: 1px solid var(--pico-muted-border-color);
}

.content-nav {
  position: sticky;
  top: 74px;
  background-color: var(--pico-background-color);
  border-bottom: 1px solid var(--pico-muted-border-color);
}
