<h1 id="top" class="header-title"><a href="/" class="contrast">Far East of Eden Zero</a></h1>

<nav id="header-nav" class="header-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/found_item">Found Item</a></li>
    <li><a href="/chaya">Chaya</a></li>
    <li><a href="/shop">Shop</a></li>
    <li><a href="/item">Item</a></li>
    <li class="header-nav-dropdown">
      <a href="#">Equip</a>
      <ul class="header-nav-sub">
        <li><a href="/wepon">Wepon</a></li>
        <li><a href="/armor">Armor</a></li>
        <li><a href="/accessory">Accessory</a></li>
      </ul>
    </li>
    <li><a href="/hermit">Hermit</a></li>
    <li><a href="/scroll">Scroll</a></li>
    <li><a href="/special">Special</a></li>
    <li class="header-nav-dropdown">
      <a href="#">Enemy</a>
      <ul class="header-nav-sub">
        <li><a href="/enemy">Enemy</a></li>
        <li><a href="/boss">Boss</a></li>
      </ul>
    </li>
  </ul>
</nav>
